* {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: black;
	font-family: Optima, serif;
}

.scroll-button {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	border-style: solid;
	border-color: white;
	border-width: 2px;

	width: 40px;
	height: 40px;
	right: 10px;
	bottom: -50px;
	position: fixed;

	color: white;
	background-color: black;
	transform: rotate(-90deg);
	text-decoration: none;
	font-size: 30px;

	transition: all 400ms;
}

.disabled {
	color: grey !important;
	text-decoration: line-through !important;
}

.error {
	color: red !important;
}

.success {
	color: rgb(47, 255, 47) !important;
}