<div class="navbar" id="navbar">
	<div id="navbar-left">
		<a href="{% if request.path == '/' %}#{% else %}/{% endif %}">
			<img id="main-logo" alt="logo" src="/static/img/logo.png">
		</a>
	</div>
	{% if config.ENV == 'development' %}
	<div id="navbar-dev">
		<a class="error">Development Mode</a>
	</div>
	{% endif %}
	<div id="navbar-center">
		<a{% if config.ENV == 'development' %} href="/about"{% else %} class="disabled"{% endif %}>About</a>
		<a{% if config.ENV == 'development' %} href="/projects"{% else %} class="disabled"{% endif %}>Projects</a>
		<a href="/static/upload/admin/resume.pdf">Resume</a>
		<a href="mailto:s8pijost@stud.uni-saarland.de">Contact</a>
		<a href="/auth/{% if session.user %}logout">Logout{% else %}login">Login{% endif %}</a>
	</div>
	{% if session.user %}
	<div id="navbar-authenticated">
		{% if session.user.role < 30 %}
		<a>Standard Privileges</a>
		{% else %}
		<a class="success">Elevated Privileges</a>
		{% endif %}
	</div>
	{% endif %}
	<div id="navbar-right">
		<a href="https://github.com/pseudorandomuser"><img class="social-logo" alt="github" src="/static/img/social/github-orig.png"></a>
		<a href="https://www.linkedin.com/in/pit-jost/"><img class="social-logo" alt="linkedin" src="/static/img/social/linkedin-square.png"></a>
		<a href="https://twitter.com/jostpit"><img class="social-logo" alt="twitter" src="/static/img/social/twitter-free.png"></a>
        <a href="https://soundcloud.com/pseudorandomuser"><img class="social-logo" alt="soundcloud" src="/static/img/social/soundcloud-circular.png"></a>
		<a href="mailto:s8pijost@stud.uni-saarland.de"><img class="social-logo" alt="email" src="/static/img/social/email-free.png"></a>
	</div>
</div>