{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
	<section class="head-section">
		<div class="head-section-content">
			<div style="height:150px;"></div>
			<h1>Website under construction...</h1>
			<h3>Please use the links in the navigation bar for further information.</h3>
			<div style="height:150px;"></div>
		</div>
	</section>
	<section class="sub-section">
		<div class="sub-section-content">
			<div style="height:3000px;"></div>
		</div>
	</section>
{% endblock %}