{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<section class="head-section">
		<div class="head-section-content">
            <div style="height:150px;"></div>
			<form action="/auth/login" method="post">
                <input type="text" placeholder="Username" name="username" required /><br>
                <input type="password" placeholder="Password" name="password" required /><br>
                <button type="submit">Login</button>
            </form>
            {% if error %}
            <p class="error">Login failed: {{ error }}</p>
            {% endif %}
		</div>
	</section>
{% endblock %}